{% extends 'base.html' %}
{% block content %}
    <h1 class = "text-center">{% block title %} ¯\_(シ)_/¯ Matt's Prompt Tuning Tool ¯\_(シ)_/¯{% endblock %}</h1>
      <hr>
      <h2 class = "text-left">What is it?</h2>
    <p> A lightweight flask web application for using and tuning OpenAI's GPT-3, Codex and DALL-E data models.</p>  
      <h2>How to use ?</h2>
          <p>Select from the Navigation bar which data model you want to use. Details for each are explained in their respected pages.</p>
      <h2>Which model should I use?</h2>
        <p> See description below for a quick discription of each</p>
      <h4>GPT-3<h3>
          <p>For natrual language tasks. GPT-3 is strong at text completion. Given a prompt it will return an answer that follows the prompts context or pattern.</p>
      <h3>Codex</h3>
        <p>For code completion tasks. Suited for generating snippets of code across many different languages. Code may not be vaild.</p>
      <h3>Dalle-2</h3>
        <p>For image generation tasks.</p>
{% endblock %}